---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="About Me"
	description="自己紹介とSNSリンク"
	pubDate={new Date('February 04 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		こんにちは、Yamakouです。このブログでは投資の記録や動画制作の裏側を発信しています。
	</p>

	<h3>投資について</h3>
	<p>202X年から投資を開始。主に日本株と米国株をメインに運用しています。</p>

	<h3>SNS / 外部リンク</h3>
	<ul>
		<li><a href="あなたのXのURL">X (Twitter)</a></li>
		<li><a href="あなたのYouTubeのURL">YouTube</a></li>
	</ul>
</Layout>

