---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">ホーム</HeaderLink>
			<HeaderLink href="/blog">一覧</HeaderLink>
			<HeaderLink href="/blog/vlog">ビデオブログ</HeaderLink>
			<HeaderLink href="/about">その他</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header { margin: 0; padding: 0 1em; background: white; box-shadow: 0 2px 8px rgba(0,0,0,0.05); }
	nav { display: flex; align-items: center; justify-content: space-between; max-width: 960px; margin: 0 auto; height: 70px; }
	.internal-links { display: flex; gap: 10px; }
	nav a { padding: 1em 0.5em; color: #333; text-decoration: none; border-bottom: 4px solid transparent; font-size: 0.9em; }
	nav a.active { border-bottom-color: var(--accent); font-weight: bold; }
	@media (max-width: 720px) {
		nav { flex-direction: column; height: auto; padding: 10px 0; }
		.internal-links { width: 100%; justify-content: space-around; }
	}
</style
